# Core Dependencies
langchain==0.3.1
langchain-community==0.3.1
gpt4all
pyperclip
faiss-cpu==1.8.0
numpy
boto3
python-dotenv
PyYAML

# GUI Framework
customtkinter

# Google Drive Integration
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Automatic Model Download
huggingface_hub
tqdm

# Testing Dependencies
pytest


psutil



# Speech Recognition/Synthesis
vosk
piper-tts
sounddevice

